<div class="row">
    <div class="col-md-3 main-profile-block">
        <img class="userLogo" [src]="userImage" >
        <label for="uploadFile" class="uploadLabel">Select image</label>
        <input type="file" id="uploadFile" hidden accept="image/*" (change)="handleAvatarInput($event.target.files)" >
            <div>
            <span #service.userData>Username: {{service.userData.UserName}}</span>
            <br>
            <span #service.userData>Email: {{service.userData.Email}}</span>
            <br>
        </div>        
    </div>
    
    <div class="col-md-3 profile-data-block">
            <h3>Profile</h3>
            <form #form="ngForm" (submit)="ModifyProfile(form)" autocomplete="off">
                    <div class="form-group">
                        <label>FirstName</label>
                        <input name="FirstName" #FirstName="ngModel" [(ngModel)] = "profileService.formData.FirstName" placeholder="Your first name" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>LastName</label>
                        <input name="LastName" #LastName="ngModel" [(ngModel)] = "profileService.formData.LastName" placeholder="Your last name" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        <input name="Address" #Address="ngModel" [(ngModel)] = "profileService.formData.Address" placeholder="Your address" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-warning btn-sm">Save Changes</button>
                    </div>
            </form>
    </div>
    <div class="col-md-3 offset-md-1 image-upload-block">
        <h3>Upload Image</h3> 
        <img [src]="uploadedImage" class="upload-image-input">
        <input hidden type="file" accept="image/*" #fileInput id="imageInput" (change)="handleImageInput($event.target.files)">
            <span *ngIf="!isDefaultImage" class="caption-div">
                <label for="CaptionInput">Caption</label>
                <input type="text" #CaptionInput name="captionInput" [(ngModel)]="captionInput">
                <button class="btn btn-success btn-sm image-interaction" (click)="UploadImage(CaptionInput.value)">Submit</button>
                <button class="btn btn-danger btn-sm image-interaction" (click)="CancelLoading()">Cancel</button>
            </span>
        <label for="imageInput" class="btn btn-warning btn-sm image-interaction">Choose image</label>
        
    </div>
</div>

<hr>
<h4>Images</h4>
<app-user-image *ngFor="let image of imageService.imageData" [Image]="image" [ShowDeleteBtn]="true" (Refresh)="RefreshImages($event)"></app-user-image>

    

    




