.userLogo{
    display: block;
    padding: 10px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.mainProfile{
    padding-left: 40px;
    padding-bottom: 20px;
}
.uploadLabel{
    border: 1px solid black;
    border-radius: 25px;
    cursor: pointer;
    padding: 5px;
    
}

.uploadLabel:hover {
    background-color: yellow;
  }