<div class="container-fluid">
    <div class="row">
        <div class="user-item">
            <div *ngFor="let user of service.usersList" class="user">
                <div class="flex">
                    <img class="userLogo" [src]="user.AvatarImage" (click)="ShowUserImages(user.Id)" alt="logo">
                    <table class="profileInfo">
                        <td>
                            <tr>First Name: {{user.FirstName}}</tr>
                            <tr>Last Name: {{user.LastName}}</tr>
                            <tr>Address: {{user.Address}}</tr>
                        </td>
                    </table>
                </div>
                <button *ngIf="ShowDeleteUserBtn" class="DeleteUser" (click)="DeleteUser(user.Id)">Delete</button>
            </div>
        </div>
        <div class="images-area" *ngIf="ShowImages">
            <app-user-image *ngFor="let image of Images" [Image]="image" [ShowDeleteBtn]="ShowDeleteBtn"
                (Refresh)="RefreshImages($event)"></app-user-image>
        </div>
    </div>
</div>

<div *ngIf="ShowPopupDialog" class="popup-dialog">
    <div class="popup-data">
        <label>You want delete this user?</label>
        <button class="btn btn-success" (click)="ConfirmDeleting()">Yes</button>
        <button class="btn btn-danger" (click)="CancelDeleting()">No</button>
    </div>
</div>