.image-details img{
    width: 120vh;
    height: 80vh;   
    z-index: 2;
}

.image-details{
    position: fixed;
    height: 100vh;    
    width: 100vw;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
    text-align: right;
}

.image-caption{
    width: 29vh;
    word-wrap: break-word;
}

.closeButton{
    margin: 10px;
    width: 60px;
    height: 60px;
    margin-right: 50px;
    font-size: 50px;
    line-height: 50px;
}

.image-data{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    background-color: aliceblue;
    z-index: 2;
}

.image-data table tr{
    text-align: -webkit-center;
}

.image-right-block{
    text-align: center;
    vertical-align: initial;
    width: 200px;
}
.image-right-block{
    display: block;
    width: 30vh;
}

.image-right-block table{
    display: initial;
}

.image-comment-area{
    resize: none;
}

.btn-deleteImage{
    width: 100%;
    margin: 1px;
}

.rate-btn{
    display: block;
    margin: 15px;
    width: 54px;
    height: 54px;
    background-image: url(../../../assets/SimpleStar.png);
    background-repeat: no-repeat;
}

.rate-btn:hover{
    background-image: url(../../../assets/goldStar.png);
}

.test{
    background-image: url(../../../assets/goldStar.png);
}



