<div class="image-details ">
  <button class="closeButton" (click)="closeImageDetails()">X</button> 
    <div class="image-data">
        <table>
          <tr>
            <td>
              <img class="image-popup" [src]="Image.ImageName" alt="Image">
            </td>
            <td class="image-right-block">
              <table >
                <tr><label class="image-caption">{{Image.Caption}}</label></tr>
                <tr><label class="image-caption">Rate</label></tr>
                <tr><button *ngFor="let Ratebtn of Rate" class="rate-btn" (click)="MakeRate()">{{Ratebtn}}</button></tr>        
              </table>            
            </td>
          </tr>
          <tr *ngIf="ShowDeleteBtn">
              <button class="btn btn-danger btn-deleteImage" (click)="DeleteImage(Image)">Delete</button>
            </tr>
        </table>
    </div>  
</div>



