<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">Company name</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="#">Features</a>
    <a class="p-2 text-dark" href="#">Enterprise</a>
    <a *ngIf="isLoggedIn()" class="p-2 text-dark" routerLink = "Users">Users</a>
    <a *ngIf="isLoggedIn()" class="p-2 text-dark" routerLink = "Home">Profile</a>
  </nav>
  <a class="btn btn-outline-primary" routerLink = "Register">Register</a>
  <a class="btn btn-outline-primary" routerLink = "Login">Log In</a>
</div>

<router-outlet></router-outlet>
